@font-face {
    font-family: 'Persona Aura';
    src: url('../font/PersonaAura.woff2') format('woff2'),
        url('../font/PersonaAura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}